<nav class="navbar navbar-expand-lg justify-content-center sticky-top">
    <div class="container d-flex justfiy-content-between container-fluid ">
        <a class="navbar-brand" href="#">
            <img src="../../asset/navbar/team.svg" alt="team">
        </a>
        <div class="d-flex" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="home_page.html">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about_page.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact_page.html">Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact_page.html">Log In</a>
                </li>
            </ul>
            <button class="btn btn-outline-primary">Get Access</button>
        </div>
    </div>
</nav>